<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org" lang="en">
<head>
<meta charset="utf-8" />
<title>Nursery Bookings</title>
</head>
<body>
	<wicket:panel>
		<div class="alert alert-block alert-error fade in"
			wicket:id="container">
			<span wicket:id="text">[[The alert text]]</span>
			<button class="btn" wicket:id="ok">
				<span wicket:id="okLabel">[[OK]]</span>
			</button>
			<button class="btn" wicket:id="cancel">
				<span wicket:id="cancelLabel">[[Close]]</span>
			</button>
		</div>
	</wicket:panel>
</body>
</html>
