<!DOCTYPE html>
<html xmlns:wicket="http://wicket.apache.org">
<head>
<meta charset="utf-8" />
<title>OpenBet Matches Panel</title>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" title="Stylesheet" />
</head>
<body>
	<wicket:panel>
		<button wicket:id="openclose" type="button" class="btn" data-toggle="collapse">
			<wicket:container wicket:id="title">Title</wicket:container>
		</button>
		<div wicket:id="colapsable" class="collapse">
			<div wicket:id="body" class="well">The content to show or hide</div>
		</div>
	</wicket:panel>
</body>
</html>
